<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Khám phá tin tức</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div></div>
        <form th:action="@{/logout}" method="POST">
            <input type="submit" value="Logout">
        </form>
        <hr>
        <div>
            <p>Chủ đề nổi bật</p>
            <ul>
                <li><a href="#">Chủ đề 1</a></li>
                <li><a href="#">Chủ đề 2</a></li>
                <li>...</li>
                <li><a href="#">Chủ đề n</a></li>
            </ul>
        </div>
        <div>
            <style>
                table, th, td {
                    border:1px solid black;
                }
            </style>
            <table style="width: 100%">
                <thread>
                    <tr>
                        <th>Tiêu Đề</th><!-- comment -->
                    </tr>
                </thread>
                <tbody>
                <th:block th:each="baiviet : ${listBaiViet}">
                    <tr>
                        <td>
                            <a th:href="@{'BV/'} + ${baiviet.id}">[[${baiviet.tieude}]]</a>
                        </td>
                    </tr>    
                    </tbody>
            </table>
        </div>
    </body>
</html>
