<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Trang chủ</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <nav>
                <ul>
                    <li><a href="/dangNhap">Đăng nhập</a></li>
                    <li><a href="/dangKy">Đăng ký</a></li>
                </ul>
            </nav>
            <div>
                <h2>Chủ đề nổi bật</h2>
                <div>
                    <div th:each="cd:${dscd}">
                        <a th:href="@{/?idcd={id}(id=${cd.getId()})}" th:text="${cd.getTen()}"></a>
                    </div>
                </div>
            </div>
            <div>
                <h2>
                    <span th:if="${cd!=null}" th:text="'Khám phá chủ đề '+${cd.getTen()}"></span>
                    <span th:if="${cd==null && (keyword==null||keyword.isBlank())}">Bài viết mới gần đây</span>
                    <span th:if="${keyword!=null && !keyword.isBlank()}" th:text="'Kết quả tìm kiếm cho: '+${keyword}"></span>
                </h2>
                <div>
                    <form th:action="@{/}" method="get">
                        <input name="keyword" type="search" placeholder="Nhập tiêu đề bài viết...">
                        <button type="submit">Search</button>
                    </form>
                </div>
                <div th:each="bv:${dsbv}">
                    <div style="border:1px solid black;">
                        <a th:href="@{/xemBV/{idbv} (idbv=${bv.getId()})}" th:text="${bv.getTieude()}"></a>
                        <p><span th:text="${bv.getTgdangFormat()}"></span> <span th:text="${bv.getCd().getTen()}"></span></p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
