<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Sửa bài viết</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form th:action="@{/logout}" method="POST">
            <input type="submit" value="Logout">
        </form>
        <hr>
        <form th:action="@{/user/quanLyBV/savePost}" method="post" th:object="${baiviet}">
            <label>Tiêu đề: </label>
            <input type="text" name="tieudetxt" required th:field="*{tieude}"/>
            <br>
            <label>Tóm tắt: </label>
            <input type="text" name="tomtattxt" required th:field="*{tomtat}"/>
            <br>
            <label>Nội dung: </label>
            <br>
            <textarea name="noidungtxt" rows="5" placeholder="Nhap noi dung..." minlength="1" required cols="50" style="height: 132px;" th:field="*{noidung}"></textarea>
            <br>
            <button type="submit">Đăng</button>
        </form>
    </body>
</html>
